doctype html
html
    head
        include ../includes/head.pug
        title Dashboard
        link(rel="stylesheet" type="text/css" href='/css/common.css')
        link(rel="stylesheet" type="text/css" href='/css/restaurant/dashboard.css')


    body
        include ../includes/navbar.pug

        h1.page-heading Dashboard
        if !restaurant.activated
            .h5.text-danger.text-center  Restaurnant not activated, Your Restaurant will not be listed on our platform untill admin verifies it.
        .container.d-flex.justify-content-between.bg-white.p-4.rounded.shadow.mb-4.flex-wrap
            .det.flex-grow-1
                h2= restaurant.displayName
                p= restaurant.address
                p= restaurant.city
            div
                img(src=restaurant.imgUrl, alt="restaurant image" style="width: auto; height: 195px;" class="img-thumbnail ")

        div.container
            div.list-group.my-5
                a.list-group-item.list-group-item-action(href="add_dish") 
                    div
                        h4 Add New Dish
                        p.text-muted add a new dish to your menu
                        
                a.list-group-item.list-group-item-action(href="dishes") 
                    div
                        h4 All Dishes (Menu)
                        p.text-muted view all Dishes edit/delete them.
                        
                a.list-group-item.list-group-item-action(href="edit_details") 
                    div
                        h4 Edit Restaurant details
                        p.text-muted edit Restaurant details (address, description, title)

                a.list-group-item.list-group-item-action(href="all_orders") 
                    div
                        h4 All Orders
                        p.text-muted View All Orders