doctype html
html
    head
        include ../includes/head.pug
        title Dashboard
        link(rel="stylesheet" type="text/css" href='/css/restaurant/dashboard.css')


    body
        include ../includes/navbar.pug
        h1 restaurant dashboard

        div 
            - const res = JSON.stringify(restaurant)
            p= res

        div(class="container")
            div
                a(href="add_dish") Add New Dish 
            div
                a(href="dishes") All Dishes 
            div
                a(href="edit_details") Edit Restaurant details


