doctype html
html
    head
        include ../includes/head.pug
        title Dashboard

    body
        include ../includes/navbar.pug
        h1 restaurant dashboard
        a(href="add_dish") add New Dish
        br 
        a(href="dishes") all Dishes


