doctype html
html
    head
        include ../includes/head.pug
        title Dashboard
        link(rel="stylesheet" type="text/css" href='/css/restaurant/dashboard.css')


    body
        include ../includes/navbar.pug
        

        .info-container
            .det
                h2= restaurant.displayName
                p= restaurant.address
                p= restaurant.city
            .img
                img(src=restaurant.imgUrl, alt="restaurant image", class="r-img")

        div(class="container")
            div.item
                a(href="add_dish") Add New Dish 
            div.item
                a(href="dishes") All Dishes 
            div.item
                a(href="edit_details") Edit Restaurant details

