doctype html
html
    head
        include includes/head.pug
        title Login
        link(rel="stylesheet" type="text/css" href='/css/login.css')

    body
        include includes/navbar.pug
        div(class="container loginForm")
            div
                h1 Login
                form(action="/auth/login" method="POST")
                    div(class="form-group has-feedback")
                        input(type="email" name="email" class="form-control form-input"  placeholder="" required)
                        label(class="form-label" for="") Email

                    div(class="form-group has-feedback")
                        input(type="password" name="password" class="form-control form-input"  placeholder="" required)
                        label(class="form-label" for="") Password
            
                    button(id="submit" type="submit" class="btn btn-default submit" value="Login") Login
