doctype html
html
    head
        include includes/head.pug
        title Signup
        link(rel="stylesheet" type="text/css" href='/css/login.css')

    body
        include includes/navbar.pug
        div(class="container loginForm")
            div
                h1.page-heading Sign Up
                form(action="/auth/signup" method="POST")
                    div(class="form-group has-feedback")
                        input(type="email" name="email" class="form-control form-input"  required)
                        label(class="form-label") Email
                        if error && error.message
                            p.text-sm.text-danger #{error.message}

                    div(class="form-group has-feedback")
                        input(type="password" name="password" class="form-control form-input"  required)
                        label(class="form-label") Password

                    div(class="form-group has-feedback")
                        input(name="displayName" class="form-control form-input"  required)
                        label(class="form-label") Display Name

                    div(class="form-group has-feedback")
                        input(name="category" class="form-control form-input"
                            onfocus="this.placeholder='Ex. North Indian,Chinese'" 
                            onblur="this.placeholder=''" required)
                        label(class="form-label") Category
                    
                    div(class="form-group has-feedback")
                        input(name="phone" type="tel" class="form-control form-input"  required)
                        label(class="form-label") Phone
            
                    div(class="form-group has-feedback form-group-last")
                        input(name="address" class="form-control form-input" required)
                        label(class="form-label") Address


                    div.form-check.form-switch
                        label(class="form-check-label" style="font-weight:600;" for="vegswitch") Veg
                        input(type="checkbox" class="form-check-input" id="vegswitch"  name="isVeg")
                        
                    .spacer2(style="margin:12px 0 !important;")
    
                    div(class="form-group has-feedback")
                        label(style="font-size:20px;") City
                        br
                        select(name="city"  required)
                            option(value="hassan") Hassan, Karnataka, India
                    .spacer
                    br
                    div(class="form-group has-feedback")
                        input(name="imgUrl" class="form-control form-input form-group-last"  required)
                        label(class="form-label") Image URI/URL
                        if error && !error.message
                            p.text-sm.text-danger Something went wrong ):

                    button(id="submit" type="submit" class="btn btn-default submit" value="Signup") Sign Up
