doctype html
html
    head
        include includes/head.pug
        title Signup
        link(rel="stylesheet" type="text/css" href='/css/login.css')

    body
        include includes/navbar.pug
        div(class="container loginForm")
            div
                h1 Sign Up
                form(action="/auth/signup" method="POST")
                    div(class="form-group has-feedback")
                        input(type="email" name="email" class="form-control form-input"  required)
                        label(class="form-label") Email

                    div(class="form-group has-feedback")
                        input(type="password" name="password" class="form-control form-input"  required)
                        label(class="form-label") Password

                    div(class="form-group has-feedback")
                        input(name="displayName" class="form-control form-input"  required)
                        label(class="form-label") Display Name

                    div(class="form-group has-feedback")
                        input(name="category" class="form-control form-input"
                            onfocus="this.placeholder='Ex. North Indian,Chinese'" 
                            onblur="this.placeholder=''" required)
                        label(class="form-label") Category
                    
                    div(class="form-group has-feedback")
                        input(name="phone" type="tel" class="form-control form-input"  required)
                        label(class="form-label") Phone
            
                    div(class="form-group has-feedback")
                        input(name="address" class="form-control form-input" required)
                        label(class="form-label") Address

                    div
                        label(style="font-size:20px;margin-right:8px;") Veg
                        input(type="radio" name="isVeg" value="true" style="margin-right:12px;" checked)
                        label(style="font-size:20px;margin-right:8px;") Nonveg 
                        input(type="radio" name="isVeg" value="false")
                        
                    .spacer2(style="margin:12px 0 !important;")
    
                    div(class="form-group has-feedback")
                        label(style="font-size:20px;") City
                        br
                        select(name="city"  required)
                            option(value="hassan") Hassan, Karnataka, India
                            option(value="hassan") Hassan, Karnataka, India
                            option(value="hassan") Hassan, Karnataka, India
                            option(value="hassan") Hassan, Karnataka, India
                    
                    .spacer

                    div(class="form-group has-feedback")
                        input(name="imgUrl" class="form-control form-input"  required)
                        label(class="form-label") Image URI/URL

                    button(id="submit" type="submit" class="btn btn-default submit" value="Signup") Sign Up
