h1 {
  text-transform: uppercase;
  text-align: center;
}

body {
  background: #fdfafa;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover,
a:focus,
a:active {
  text-decoration: underline;
}
.details-container {
  max-width: 80%;
  margin: 1rem auto;
  padding: 2%;
  background: #fff;
  border-radius: 4px;
  box-shadow: 0px 2px 8px 0px rgba(184, 184, 184, 0.81);
  -webkit-box-shadow: 0px 2px 8px 0px rgba(184, 184, 184, 0.81);
  -moz-box-shadow: 0px 2px 8px 0px rgba(184, 184, 184, 0.81);
}

.item {
  padding: 2%;
}

.item a {
  font-weight: 700;
  font-size: 1.4rem;
}

.info-container {
  max-width: 80%;
  margin: 20px auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.info-container p {
  margin-top: 0;
  margin-bottom: 0.2rem;
  font-style: italic;
}
.r-img {
  width: 150px;
  border-radius: 8px;
}
