@import "./index.css";
.navbar {
  background-color: #292c2f;
  box-shadow: 0 1px 1px #ccc;
  padding: 20px 40px;
  height: 80px;
  color: #ffffff;
  box-sizing: border-box;
}
nav a,
nav a:hover,
nav a:focus,
nav a:active {
  text-decoration: none;
  color: inherit;
}
.navbar-logo {
  font-size: 30px;
  font-family: "Lobster", cursive;
  color: #ffffff;
  cursor: pointer;
}
.navbar-logo span {
  font-size: 30px;
  font-family: "Lobster", cursive;
  color: orange;
}
.navbar-logo:link,
.navbar-logo:visited {
  color: #fff;
}
.navbar-button:link,
.navbar-button:visited {
  font-size: 20px;
  color: #fff;
  text-transform: uppercase;
}
