@import './index.css';
.navbar{
    background-color:#292c2f;
	box-shadow:0 1px 1px #ccc;
	padding: 20px 40px;
	height: 80px;
	color: #ffffff;
	box-sizing: border-box;
}
a{
    text-decoration: none;
    color: #ffffff;
}
.navbar-logo{
    font-size:30px;
    font-family: "Lobster", cursive;
    color: #ffffff;
    text-decoration: none;
    
}
.navbar-logo span{
    font-size:30px;
    font-family: "Lobster", cursive;
    color: orange;

}
.navbar-items a{
    font-size:20px;
    margin: 5px 5px;
    padding:5px 5px;
    font-family: 'Lato', sans-serif;

}
.navbar-items a :hover{
    color: #ffffff;
    text-decoration: none;
    cursor: pointer;
}


