//- link(href='https://fonts.googleapis.com/css?family=Cookie' rel='stylesheet' type='text/css')
link(rel="stylesheet" type="text/css" href='/css/nav.css')

header
    nav(class="navbar")
      div(class="navbar-logo") 
        a(href="#")  Food
            span Zy
      div(class="navbar-items")
        a(href="#")(class="navbar-button") #{navbutton}
        